@page "/Ciudad/Create"
@inject CiudadesService CiudadesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Registro de Ciudades</PageTitle>
<EditForm Model="Ciudad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white m-2">
                <h3 class="card-title">Registro de Ciudades</h3>
            </div>

            <div class="card-body">
                @*CiudadId*@
                <div class="mb-3">
                    <label class="form-label">CiudadId</label>
                    <InputNumber class="form-control small-input" @bind-Value="Ciudad.CiudadId" readonly/>
                </div>

                @*Ciudad Nombre*@
                <div class="mb-3">
                    <label class="form-label">Nombre de la Ciudad</label>
                    <InputText class="form-control wide-input" @bind-Value="Ciudad.CiudadNombre"/>
                    <ValidationMessage For="@(() => Ciudad.CiudadNombre)"/>
                </div>
            </div>

            @*Footer*@
            <div class="card-footer text-center mt-2">
                <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">
                    <span class="bi bi-plus"></span> Nuevo
                </button>
                <button type="submit" class="btn btn-outline-success">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>
                <a href="/Ciudad" class="btn btn-outline-danger">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </a>
            </div>
        </div>
    </div>

    @* Notificaciones *@
    <label class="text-success" hidden="@string.IsNullOrEmpty(Saved)">@Saved</label>
    <label class="text-danger" hidden="@string.IsNullOrEmpty(Error)">@Error</label>
</EditForm>

@code {
    private string Error { get; set; } = string.Empty;
    private string Saved { get; set; } = string.Empty;
    private Ciudades Ciudad { get; set; } = new Ciudades();

    private void Nuevo()
    {
        Ciudad = new Ciudades();
    }

    private async Task<bool> ValidarNombre()
    {
        return await CiudadesService.ExisteNombre(Ciudad.CiudadId, Ciudad.CiudadNombre);
    }

    private async Task Guardar()
    {
        if (await ValidarNombre())
        {
            Error = "Ya existe una ciudad con ese nombre";
            return;
        }

        var guardado = await CiudadesService.Guardar(Ciudad);
        if (guardado)
        {
            Saved = "Registro creado exitosamente";
            navigationManager.NavigateTo("/Ciudad");
        }
        else
        {
            Error = "Error al guardar el Registro";
        }
    }
}